<br>
<br>
<br>

<h1> <strong> My Tasks </strong></h1>

<div class="task-list">
  <ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
    <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
  </ul>
</div>
