<br>
<br>
<br>

<h1> <strong> My Tasks </strong></h1>

<div class="task-list">
  <ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="">
    <%= link_to task.title, task_path(task) %>
    <%= link_to "Delete #{task.title}",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
  </ul>
</div>

<%= link_to 'Create new task' , tasks_new_path  %>
