<br>
<br>
<br>

<h2><%= @task.title %></h2>
<p class = "text-box"><%= @task.details %></p>

<% if @task.completed %>
<p><input class="form-check-input me-1" type="checkbox" value="" checked> The task is completed</p>
<% else %>
<p><input class="form-check-input me-1" type="checkbox" value=""> The task is not complete</p>
<% end %>

<%= link_to '<back' , tasks_path, class: 'links'  %>
<%= link_to 'Edit a task' , edit_task_path, class: 'links'  %>
